.tuesday {
  width: 500px;
  margin: 0 auto;
}

.todoList {
  text-align: left;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}

.todoList-task.done {
  opacity: 0.5;
}

.filter-active {
  background-color: #67fff5;
}

.error {
  border-color: red;
}

.todoList-newTaskForm {
  display: flex;
}

.todoList-newTaskForm button {
  padding: 10px;
}

.toDoListSet {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.priority {
  display: flex;
  justify-content: space-between;
  width: inherit;
  margin-top: 5px;
}

.priority span {
  font-weight: bold;
}



