.tuesday {
  width: 500px;
  margin: 0 auto;
}

.todoList {
  text-align: left;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}

.todoList-task.done {
  opacity: 0.5;
}

.filter-active {
  background-color: #67fff5;
}

.error {
  border-color: red;
}

.todoList-newTaskForm {
  display: flex;
}

.todoList-newTaskForm button {
  padding: 10px;
}

.toDoListSet {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.prioritySet {
  display: flex;
  justify-content: space-between;
  width: inherit;
  margin-top: 5px;
}

.prioritySet span {
  font-weight: bold;
}

.priority-high {
  color: #ff0001;
}

.priority-medium {
  color: #ff8d00;
}

.priority-low {
  color: #000aff;
}

.titleTask {
  font-family: sans-serif;
  font-weight: bolder;
  font-style: italic;
}


