.container {
  width: 250px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  background-color: #00d1cf;
}

.counter {
  width: 15px;
  margin: 5px;
}

.button {
  margin-left: 5px;
  padding: 5px;
}