.greetingsWrapper {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  margin-top: 30px;
  padding: 10px;
}

.outputWrapper {
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  width: 70%;
  margin-top: 10px;
}
.outputTitle {
  margin-top: 0;
  align-self: center;
  padding: 5px;
}


.even {
  align-self: flex-end;
}

.odd {
  align-self: flex-start;
}



