.interestsWrapper {
  display: flex;
  flex-flow: column wrap;
  border-bottom: thick solid black;
  width: 100%;
}

.interests {
  margin: 10px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
}

