.greetingsWrapper {
  display: flex;
  flex-flow: column wrap;
  margin-top: 30px;
}

.greetingsOutputWrapper {
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  width: 50%;
  margin-top: 10px;
}

.outputTitle {
  margin-top: 0;
  align-self: center;
  padding: 5px;
  font-weight: lighter;
}

.even {
  align-self: flex-end;
}

.odd {
  align-self: flex-start;
}
