.presentName {
    background-color: #A5AEF2;
    width: 326px;
    height: 25px;
    padding: 5px;
    border: 7px outset #263BD7;
    font-size: 20px;
    font-family: fantasy;
    font-style: italic;
}