.navMenuWrapper
{
    width: 200px;
    height: 100vh;
    padding: 5px;

    background-color: antiquewhite;

    composes: flexColumnAlignCenter from '../index.css';
}

.navMenuTitle
{
    composes: flexColumnAlignCenter from '../index.css';
}

.navMenuTitle h3
{
    margin: 15px;
}

.navMenu
{
    composes: flexColumnAlignCenter from '../index.css';
}

@media (max-width: 600px)
{
    .navMenuWrapper
    {
        width: 100%;
        height: auto;
    }

    .navMenuTitle
    {
        flex-direction: row;
    }

    .navMenu
    {
        flex-direction: row;
    }
}
