.interestsWrapper {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  border: thin solid;
}

.interests {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

